= content_for :client, @client

%h1 Lista kont

%table.table
  %tr
    %th Numer
    %th Saldo
    %th
    %th

  - @account.each do |account|  # partial _account mi nie dziala-sprawdzic
    %tr
      %td= account.number
      %td= account.balance
      %td= link_to 'Show', [@client, account]
      %td= link_to 'Destroy', [@client, account], :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

%p= paginate @account

= link_to 'Nowe konto', client_accounts_path(@client), class: 'btn', method: :post
