%h2= @account

%p= link_to 'Dodaj transakcję', new_account_transaction_path(@account), class: 'btn'

%br
%h4 Historia transakcji
%table.table
	%tr
		%th Data
		%th Kwota
		%th Opis
	- @transactions.each do |transaction|
		%tr
			%td= I18n.l transaction.created_at
			%td= money(transaction.amount)
			%td= transaction.descr
